.slider ul {
    list-style: none;
}

.photos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider li {
    display: none
}

.slider .visible {
    display: flex;
}

.buttons {
    display: flex;
    justify-content: center;
}

img {
    height: 500px;
}
